{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <br/>
    <form method="POST">
        <h3 align="center">Update Your Personal Information</h3>
        <h4>Account Information</h4>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="{{ user.email }}">
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name"
                   placeholder="{{ user.first_name }}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name"
                   placeholder="{{ user.last_name }}">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                   placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary" name="update" value="account_info">Update</button>
    </form>
    <br/>
    <form method="POST">
        <h5>Change Your Password</h5>
        <div class="form-group">
            <label for="old_password">Old Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password"
                   placeholder="Enter your old password">
        </div>
        <div class="form-group">
            <label for="new_password1">New Password</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1"
                   placeholder="Enter your new password">
        </div>
        <div class="form-group">
            <label for="new_password2">New Password (Confirm)</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2"
                   placeholder="Confirm your new password">
        </div>
        <button type="submit" class="btn btn-primary" name="update" value="change_password">Update</button>
    </form>
    <br/>
    <form method="POST">
        <h4>Contact Information</h4>
        <div class="form-group">
            <label for="wxid">Wechat ID</label>
            <input type="text" class="form-control" id="wxid" name="wxid"
                   placeholder="{% if user.get_contact_info().wxid %}{{ user.get_contact_info().wxid }}{% else %}Enter your Wechat ID{% endif %}">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone"
                   placeholder="{% if user.get_contact_info().phone %}{{ user.get_contact_info().phone }}{% else %}Enter your phone number{% endif %}">
        </div>
        <div class="form-group">
            <label for="parent_name">Parent's Name</label>
            <input type="text" class="form-control" id="parent_name" name="parent_name"
                   placeholder="{% if user.get_contact_info().parent_name %}{{ user.get_contact_info().parent_name }}{% else %}Enter your parent's name{% endif %}">
        </div>
        <div class="form-group">
            <label for="parent_email">Parent's Email Address</label>
            <input type="email" class="form-control" id="parent_email" name="parent_email"
                   placeholder="{% if user.get_contact_info().parent_email %}{{ user.get_contact_info().parent_email }}{% else %}Enter your parent's email{% endif %}">
        </div>
        <div class="form-group">
            <label for="parent_wxid">Parent's Wechat ID</label>
            <input type="text" class="form-control" id="parent_wxid" name="parent_wxid"
                   placeholder="{% if user.get_contact_info().parent_wxid %}{{ user.get_contact_info().parent_wxid }}{% else %}Enter your parent's Wechat ID{% endif %}">
        </div>
        <div class="form-group">
            <label for="parent_phone">Parent's Phone Number</label>
            <input type="tel" class="form-control" id="parent_phone" name="parent_phone"
                   placeholder="{% if user.get_contact_info().parent_phone %}{{ user.get_contact_info().parent_phone }}{% else %}Enter your parent's phone{% endif %}">
        </div>
        <button type="submit" class="btn btn-primary" name="update" value="contact_info">Update</button>
    </form>
    <br/>
    <form method="POST">
        <h4>Volunteer Information</h4>
        <div class=" form-group">
            <label for="literacy">English Literacy</label>
            <select class="form-control" id="literacy" name="literacy">
                <option value=null selected disabled>{% if user.get_volunteer_info().literacy %} {{ 'Currently: ' + user.get_volunteer_info().literacy }} {% else %}Select your literacy level{% endif %}</option>
                <option value="Native">Native</option>
                <option value="Fluent">Fluent</option>
                <option value="Conversational">Conversational</option>
                <option value="Beginner">Beginner</option>
                <option value="Incapable">Incapable</option>
            </select>
        </div>
        <div class="form-group">
            <label for="start_date">Volunteering Start Date</label>
            <input type="date" class="form-control" id="start_date" name="start_date" placeholder="{% if user.get_volunteer_info().start_date %}{{ user.get_volunteer_info().start_date }}{% else %}Enter your volunteering start date{% endif %}">
        </div>
        <div class="form-group">
            <label for="school">School</label>
            <input type="text" class="form-control" id="school" name="school"
                   placeholder="{% if user.get_volunteer_info().school %}{{ user.get_volunteer_info().school }}{% else %}Enter your school name{% endif %}">
        </div>
        <div class="form-group">
            <label for="birth_date">Date of Birth</label>
            <input type="date" class="form-control" id="birth_date" name="birth_date" placeholder="{% if user.get_volunteer_info().birth_date %}{{ user.get_volunteer_info().birth_date }}{% else %}Enter your date of birth{% endif %}">
        </div>
        <div class="form-group">
            <label for="career">Intended Career/Desired Major</label>
            <input type="text" class="form-control" id="career" name="career"
                   placeholder="{% if user.get_volunteer_info().career %}{{ user.get_volunteer_info().career }}{% else %}Enter your intended major or desired career, if applicable{% endif %}">
        </div>
        <div class=" form-group">
            <label for="status">Volunteer Status</label>
            <select class="form-control" id="status" name="status">
                <option value=null selected disabled>{% if user.get_volunteer_info().status %} {{ 'Currently: ' + user.get_volunteer_info().status }} {% else %}Select your volunteer status{% endif %}</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" name="update" value="volunteer_info">Update</button>
    </form>
    <br/>
{% endblock %}