{% extends "base.html" %}
{% block title %}Track Your Hours{% endblock %}
{% block current_page %}Track Hours{% endblock %}
{% block content %}
    <br/>
    <br/>
    <div class="justify-content-center" style="display:flex;">
        <div class="jumbotron col col-md-6">
            <form method="POST">
                <br/>
                <h1 class="DMECCFont" align="center">Track Your Volunteer Hours</h1>
                <div class="form-group">
                    <label for="volunteer_date">Date You Volunteered</label>
                    <input type="date" class="form-control" id="volunteer_date" name="volunteer_date" required>
                </div>
                <div class="form-group">
                    <label for="event">Program/Event You Volunteered In</label>
                    <input type="text" class="form-control" id="event" name="event"
                           placeholder="Enter the name of the program or event you volunteered in" required>
                </div>
                <div class="form-group">
                    <label for="position">Position/Role</label>
                    <input type="text" class="form-control" id="position" name="position"
                           placeholder="Enter the position or role you took on while volunteering">
                </div>
                <div class="form-group">
                    <label for="task">Task</label>
                    <input type="text" class="form-control" id="task" name="task"
                           placeholder="Enter any task or assignment accomplished while volunteering">
                </div>
                <div class="form-group">
                    <label for="hours">Volunteer Hours</label>
                    <input type="number" step="0.1" class="form-control" id="hours" name="hours"
                           placeholder="Enter the number of hours you volunteered" required min="0">
                </div>
                <div class="form-group">
                    <label for="kudos_recipient">Kudos</label>
                    <select class="form-control" id="kudos_recipient" name="kudos_recipient">
                        <option value="" selected disabled>Select a volunteer to give kudos to</option>
                        {% for users in user.get_all_volunteers() %}
                            <option value={{ users.id }}>{{ users.first_name }} {{ users.last_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="kudos">Content</label>
                    <textarea type="text" class="form-control" id="kudos" name="kudos" placeholder="Give your kudos here"
                              rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <input type="text" class="form-control" id="notes" name="notes"
                           placeholder="Enter any additional notes that you might have">
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}